<!doctype html>
<html>
	<head>
		<title>Intelligent Shoefinder</title>
		<meta charset="utf8">
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
		<!-- script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script -->
		<link rel="stylesheet" href="generic_styles.css">
		<link rel="stylesheet" href="style.css">
	</head>
	<body onload="app.resize(); setTimeout(()=>{app.setState('search');app.tryShoeId();},300);" onresize="app.resize()">
		<div id="outer" class="relative document-height document-width">
			<div id="card1" class="document-height document-width absolute" v-bind:class="card1classes">
				<div id="crop1_1" v-bind:class="crop1_1classes">
					<img id="adidas-name" src="adidas-logo.jpg" class="centered relative">
				</div>
				<div id="crop1_2" v-bind:class="crop1_2classes">
					<div id="search-container" class="centered relative document-width-6">
						<input id="search-field" contenteditable="true" v-bind:placeholder="searchPlaceholder"></input>
						<div id="search-submit" class="text-center pointer" v-on:click="setQuery()">{{searchButtonText}}</div>
						<div id="search-prefix">e.g.</div>
						<div v-for="example in searchExample" class="search-example pointer" v-on:click="setSearchField(example)">{{example}}</div>
					</div>
				</div>
			</div>

			<div id="card2" class="document-height document-width absolute" v-bind:class="card2classes">
				<div id="crop2_1" class="flex-4">
					<div id="crop2_1_1" class="centered relative document-width-2">
						<img v-bind:src="current_gender.src" id="gender-image" class="document-width-2">
						<div id="crop2_1_1_2" class="text-center">Shoe size: {{current_gender.shoe_size[0]}} - {{current_gender.shoe_size[1]}}</div>
					</div>
				</div>
				<div id="crop2_2" class="flex-8">
					<div id="crop2_2_1" class="document-height-2">
						<div class="relative centered text-center">
							Shoes for:
						</div>
					</div>
					<div class="blockContainer horizontal-center relative document-height-8 document-width-6">
						<div class="block text-center pointer flex-space-content" v-bind:class="{hover:gender.hover}" v-for="gender in genders" v-on:mouseenter="peekGender(gender)" v-on:click="setGender(gender)">{{gender.name}}</div>
					</div>
					<div class="document-height-2">
						<div style="height:100%;" class="relative standalone-search-button ">
							<div class="relative pointer small_text vertical-center" v-on:click="newSearch">New Search</div>
						</div>
					</div>
				</div>
			</div>

			<div id="card3" class="document-height document-width absolute" v-bind:class="card3classes">
				<div id="crop3_1" class="flex-4">
					<div class="relative">
						<div id="crop3_1_1_1" class="document-height-2">
							<div class="relative text-center">
								Sort Shoes based on:
							</div>
						</div>
						<div class="crop3_1_1_2 pointer document-height-3" v-bind:class="{foreground:preference.focused}" v-for="preference in preferences" v-on:mouseenter="peekPreference(preference)" v-on:click="setPreference(preference)">
							<div class="crop3_1_1_2_1">{{preference.title}}</div>
							<div class="crop3_1_1_2_2">
								<span v-if="preference.randomized">Due to insufficient data, these results are randomized, for your current search.</span>
								<span v-else>{{preference.description}}</span>
							</div>
						</div>
					</div>
				</div>
				<div id="crop3_2" class="flex-8">
					<div id="crop_3_2_1" class="document-height-2 document-width-7 relative horizontal-center">
						<div class="relative centered text-center">Preview</div>
					</div>
					<div class="blockContainer document-height-8 document-width-7 relative horizontal-center">
						<div class="block text-center flex-end" v-for="preview in current_preference.shoe_previews">
							<div class="relative shoeImageContainer">
								<img class="shoeImage" v-bind:src="preview.src">
							</div>
						</div>
					</div>
					<div class="document-height-2 new-search-button">
						<div style="height:100%;" class="relative standalone-search-button">
							<div class="relative pointer small_text vertical-center" v-on:click="newSearch">New Search</div>
						</div>
					</div>
				</div>
			</div>

			<div id="card4" class="document-height document-width absolute" v-bind:class="card4classes">
				<div id="crop4_1" class="flex-4">
					<div id="crop4_1_1" class="horizontal-center relative">
						<div id="crop4_1_1_1" class="relative horizontal-center">{{current_shoe.name}}</div>
						<div id="crop4_1_1_2" class="relative horizontal-center document-height-1">{{current_shoe.price_text}}</div>
						<div id="crop4_1_1_3">
							<div class="crop4_1_1_3_1">Manufacturer Description</div>
							<ul class="crop4_1_1_3_2">
								<li class="crop4_1_1_3_2_1" v-for="bullet in current_shoe.bullets">{{bullet}}</li>
							</ul>
						</div>
						<div id="crop4_1_1_4">
							<div class="crop4_1_1_4_1">Common Words in Reviews</div>
							<ul class="crop4_1_1_4_2">
								<li class="crop4_1_1_4_2_1" v-for="word in current_shoe.words">{{word}}</li>
							</ul>
						</div>
						<div id="crop4_1_1_5" class="pointer" v-on:click="proposeIdSearch(current_shoe.id)">ID: {{current_shoe.id}}</div>
					</div>
				</div>
				<div id="crop4_2" class="flex-8">
					<div id="crop4_2_1" class="document-height-2">
						<div class="relative centered text-center pointer" v-if="recommend" v-on:click="showWishlist">
							Wishlist ({{wishlistLength}})
						</div>
						<div class="relative centered text-center pointer" v-else v-on:click="showRecommendations">
							Recommendations
						</div>
					</div>
					<div class="blockContainer document-height-8 document-width-7 relative horizontal-center">
						<div class="block text-center flex-end" v-bind:key="shoe.id" v-bind:class="{hover:shoe.hover,pointer:shoe.real}" v-for="shoe in user.queue" v-on:mouseleave="function(ev){unpeekShoe(shoe,ev);}" v-on:mousemove="function(ev){peekShoe(shoe,ev);}" v-on:click="function(ev){handleClick(shoe,ev);}">
							<div class="relative shoeImageContainer">
								<img class="shoeImage" v-bind:src="shoe.src">
								<div>
									<div v-if="shoe.click_text.l">
										<span class="big_text">{{shoe.click_text.left}}</span>
										<span>  {{shoe.click_text.text}}  </span>
										<span class="small_text">{{shoe.click_text.right}}</span>
									</div>
									<div v-if="shoe.click_text.r">
										<span class="small_text">{{shoe.click_text.left}}</span>
										<span>  {{shoe.click_text.text}}  </span>
										<span class="big_text">{{shoe.click_text.right}}</span>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div id="crop4_2_3" class="document-height-2">
						<div class="relative centered text-center small_text">
							<div id="c4_2_3_1_1" v-if="recommend" class="document-width-7 horizontal-center relative">
								<div></div>
								<div v-bind:class="improveButtonClasses" v-on:click="improveSearch">Improve Search Results</div>
								<div></div>
							</div>
							<div id="c4_2_3_1_2" v-else class="document-width-7 horizontal-center relative">
								<div v-on:click="if(wishlistLength==1){proposeIdSearch(user.wishlist_show[0].id);}" v-bind:class="{pointer:(wishlistLength==1),black:(wishlistLength==1),grey:(wishlistLength!=1)}">Search Similar</div>
								<div v-bind:class="buyButtonClasses" v-on:click="buyShoes" >Buy Shoes ({{wishlistLength}})</div>
								<div class="pointer" v-on:click="newSearch">New Search</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script src="script.js" type="application/javascript"></script>
	</body>
</html>
